<div class="row align-items-md-stretch">
        
    <div class="col-md-12">
        @if (apod !== undefined) {
            <div
            class="h-100 p-5  border rounded-3"
        >
            <h2>{{apod.title}}</h2>
            <h4>{{apod.date}}</h4>
            @if (apod.isImage) {
                <img [src]="apod.url" [alt]="apod.title">
            }
            @else if (apod.isYoutubeVideo) {
                <p>is a video</p>
                <youtube-player
                    [videoId]="apod.youtubeVideoId"
                    [height]="360"
                    [width]="640"
                ></youtube-player>
            }
            
            <p>
                {{apod.explanation}}
            </p>

        </div>
        }
        @else if(error !== undefined) {
            <div
                class="alert alert-danger"
                role="alert"
            >
                <strong>Error: </strong> {{error.message}}
            </div>
            
        }
    </div>
</div>