<div class="container">
    <ngx-slider [(value)]="lowestAbv" [(highValue)]="highestAbv" [options]="options" (userChange)="handleChange($event)"></ngx-slider>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" [class]="classes[0]" (click)="orderBeers(order.AbvAsc)">Abv Asc</button>
        <button type="button" [class]="classes[1]" (click)="orderBeers(order.AbvDesc)">Abv Desc</button>
        <button type="button" [class]="classes[2]" (click)="orderBeers(order.Alphabetical)">Alphabetical</button>
      </div>
    <div class="row justify-content-center align-items-center g-2">
        @for (beer of filteredBeers; track $index) {
            <div class="col-sd-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{beer.name}}</h4>
                        <img class="card-img-top mx-auto" [src]="beer.image" [alt]="beer.name" style="width: 60px;" />
                        <p class="card-text">{{beer.tagline}}</p>
                        <p class="card-text">{{beer.abv | abv }} </p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>