/* You can add global styles to this file, and also import other style files */
#calculator {
    width: 250px;
    height: 350px;
    border: 5px solid black;
    text-align: center;
    background: lightgreen;
    margin: 150px auto;
    box-shadow: 0px 0px 30px gray;
  }
  

  

  