<div id="calculator">
    <form>
        <app-display [displayText]="display"></app-display>
        <app-keyboard (onButtonClick)="this.handleButtonClick($event)"></app-keyboard>
    </form>
</div>
<button type="button" class="btn btn-primary" (click)="goToHeroes()">
    Go to Heroes
</button>