#display {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 220px;
    height: 30px;
    border: 1px solid red;
    box-shadow: 0px 0px 30px red;
    text-align: right;
    font: 20px bold;
    color: blue
  }