<!-- 
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button ngbNavLink>Calculator</button>
    <ng-template ngbNavContent>
      <app-calculator></app-calculator>
      <app-calculator></app-calculator>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Heroes</button>
    <ng-template ngbNavContent>
      <app-heroes></app-heroes>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Apod</button>
    <ng-template ngbNavContent>
      <app-apod></app-apod>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Beers</button>
    <ng-template ngbNavContent>
      <app-beers></app-beers>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Forms</button>
    <ng-template ngbNavContent>
      <app-forms></app-forms>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->

<!-- The routed views render in the <router-outlet>-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link active" routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/apod" routerLinkActive="active">Apod</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/beers" routerLinkActive="active">Beers</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/forms" routerLinkActive="active">Forms</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/starwars" routerLinkActive="active">Star Wars</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>