<div class="mb-2">
    <label for="" class="form-label">Hero Name</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
        [(ngModel)]="newHeroName" />
</div>
<div class="mb-2">
    <label for="" class="form-label">Hero Description</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
        [(ngModel)]="newHeroDescription" />
</div>
<button type="button" class="btn btn-primary mb-4" (click)="addHero()" [disabled]="newHeroName === ''">
    Add Hero
</button>


<!-- @if (heroName !== '') {
    <button (click)="addHero()">Add Hero</button>
}
@else {
    <button disabled>Add Hero</button>
} -->

<!-- <button (click)="addHero()" *ngIf="heroName !== ''">Add Hero</button>
<button disabled *ngIf="heroName === ''">Add Hero</button> -->
