#keys {
    -webkit-appearance: button;
    width: 40px;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px skyblue;
    cursor: pointer
}

#keys:hover {
    background: yellow;
    font-weight: bold;
}