<input type="button" value="7" id="keys" (click)="handleClick(7)">
<input type="button" value="8" id="keys" (click)="handleClick(8)">
<input type="button" value="9" id="keys" (click)="handleClick(9)">
<input type="button" value="/" id="keys" (click)="handleClick('/')"><br>
<input type="button" value="4" id="keys" (click)="handleClick(4)">
<input type="button" value="5" id="keys" (click)="handleClick(5)">    
<input type="button" value="6" id="keys" (click)="handleClick(6)">
<input type="button" value="*" id="keys" (click)="handleClick('*')"><br>
<input type="button" value="1" id="keys" (click)="handleClick(1)">
<input type="button" value="2" id="keys" (click)="handleClick(2)">
<input type="button" value="3" id="keys" (click)="handleClick(3)">
<input type="button" value="-" id="keys" (click)="handleClick('-')"><br>
<input type="button" value="C" id="keys" (click)="handleClick('c')">
<input type="button" value="0" id="keys" (click)="handleClick(0)">
<input type="button" value="=" id="keys" (click)="handleClick('=')">
<input type="button" value="+" id="keys" (click)="handleClick('+')"><br>