<div class="container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder=""
                formControlName="name" />
            <small id="helpId" class="form-text text-muted">Hero name</small>
            <div [hidden]="profileForm.controls.name.valid || profileForm.controls.name.pristine"
                class="alert alert-danger" role="alert">
                <strong>Alert Heading</strong> Some Word
            </div>

        </div>
        <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" aria-describedby="helpId"
                placeholder="" formControlName="description" />
            <small id="helpId" class="form-text text-muted">Hero description (optional)</small>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>

    <label for="typeahead-basic">Search for a state:</label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="countryName" [ngbTypeahead]="search" />

</div>