<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{selectedPerson.name}}</h4>
	</div>
	<div class="modal-body">
        <ul class="list-group list-group">
            <li class="list-group-item">{{selectedPerson.height}}</li>
        </ul>
        
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">Close</button>
	</div>
</ng-template>

<div class="container">
    @switch (complete) {
        @case (true) {
            <ul class="list-group list-group">
                @for (person of people; track $index) {
                <li class="list-group-item" (click)="open(content, person)">{{person.name}}</li>
                }
            </ul>
        }
        @case (false) {
            <div class="alert alert-info">Loading...</div>
        }@default {
            <div class="alert alert-danger">Error</div>
        }
    }
</div>

