<ul class="list-group">
    @for (hero of heroes; track $index) {
    <li class="list-group-item">{{$index + 1}}: {{hero.name}} - {{hero.description}} <button type="button"
            class="btn btn-danger" (click)="removeHero($index)">
            Remove Hero
        </button>
    </li>
    }
</ul>


<!-- <ul>
    <li *ngFor="let hero of heroes; let i=index"> {{i + 1}}: {{hero}} </li>
</ul> -->